# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
run-app.err.log
run-app.log
run-bridge.log

node_modules
dist
dist-ssr
*.local
qa-artifacts/
qa-artifacts
./.qa-artifacts/
/target
./.target
../.target
./.target/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear


# Flattened pom
.flattened-pom.xml
/**/.flattened-pom.xml


/book-system/book-book/target/
/book-system/book-book/target/classes/
